@{
    ViewBag.Title = "NWL AdAM - ผู้ใช้";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-start flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-5 mr-xl-5">
                    <h2>ผู้ใช้</h2>
                    <p class="mb-md-0">
                        <i class="mdi mdi-home text-muted hover-cursor"></i>
                        <a class="text-muted mb-0" href="~/Home">&nbsp;/&nbsp;&nbsp;ภาพรวม&nbsp;&nbsp;/</a>
                        <a class="text-primary mb-0" href="~/User">&nbsp;ผู้ใช้</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div class="d-flex justify-content-between flex-fill">
                        <button id="buttonNewUser" class="btn btn-success btn-sm  modal-state-create" data-toggle="modal" data-target="#userInfoModal"><i class="mdi mdi-plus"></i></button>

                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control" id="searchText" placeholder="Search" autocomplete="off" />
                                <div class="input-group-append">
                                    <button id="searchSubmit" class="btn btn-sm btn-primary" type="button"><i class="mdi mdi-magnify"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="no-more-tables" class="table-responsive grid-margin">
                    <table id="dataTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-2">
                                    รหัสผู้ใช้
                                </th>
                                <th class="col-md-5">
                                    ชื่อผู้ใช้
                                </th>
                                <th class="col-md-2">
                                    สิทธิ์
                                </th>
                                <th class="col-md-3"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div id="bottomPagination" class="d-flex justify-content-end flex-wrap">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userInfoModal" tabindex="-1" role="dialog" aria-labelledby="userInfoModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userInfoModalLongTitle">ข้อมูลผู้ใช้</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="userCode">
                        <input type="text" class="form-control" id="userCode" placeholder="รหัสผู้ใช้" autocomplete="off" />
                        <span>รหัสผู้ใช้</span>
                    </label>
                </div>
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="userName">
                        <input type="text" class="form-control" id="userName" placeholder="ชื่อผู้ใช้" autocomplete="off" />
                        <span>ชื่อผู้ใช้</span>
                    </label>
                </div>
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="userPassword">
                        <input type="password" class="form-control" id="userPassword" placeholder="รหัสผ่าน" autocomplete="off" />
                        <span>รหัสผ่าน</span>
                    </label>
                </div>
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="customerRole">
                        <select id="customerRole" class="form-control">
                            <option selected disabled value="">...</option>
                            <option value="1">Viewer</option>
                            <option value="2">Admin</option>
                            <option value="3">Engineer</option>
                        </select>
                        <span>สิทธิ์</span>
                    </label>
                </div>
                <div class="modal-footer d-flex justify-content-end flex-wrap">
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">
                        <i class="mdi mdi-close"></i>
                    </button>
                    <button id="modal-save-button" type="button" class="btn btn-success btn-sm">
                        <i class="mdi mdi-content-save"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/app/view/user-view.js"></script>
}
