@{
    ViewBag.Title = "NWL AdAM - ภาพรวม";
}

<div class="row">
    <div class="col-md-6 col-xl-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">สภาพอากาศรายชั่วโมง</p>
                <div id="weatherDashboard" class="d-flex justify-content-around">
                    <img id="weatherImage" class="mr-3">
                    <div class="d-flex flex-column justify-content-around">
                        <h5 id="weatherDashboardTitle" class="mb-1 d-inline-block"></h5>
                        <h5 id="weatherStatus" class="mb-0 d-inline-block"></h5>
                        <small id="highTemp" class="text-muted"></small>
                        <small id="lowTemp" class="mb-1 text-muted"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <p class="card-title">Lamp Status</p>
                @*<p class="mb-4">To start a blog, think of a topic about and first brainstorm party is ways to write details</p>
                    <div id="cash-deposits-chart-legend" class="d-flex justify-content-center pt-3"><ul class="dashboard-chart-legend"><li><span style="background-color: #ff4747 "></span>Returns</li><li><span style="background-color: #4d83ff "></span>Sales</li><li><span style="background-color: #ffc100 "></span>Loss</li></ul></div>
                    <canvas id="lampStatus" width="380" height="190" style="display: block; width: 380px; height: 190px;" class="chartjs-render-monitor"></canvas>*@
                <label class="form-group has-float-label" for="lampProjectFilter">
                    <select id="lampProjectFilter" class="form-control">
                        <option selected value="">ทุกโครงการ</option>
                    </select>
                    <span>โครงการ</span>
                </label>
                <canvas id="lampStatusChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <div class="card-body">
                <p class="card-title">Job Status</p>
                @*<h1>$ 28835</h1>
                    <h4>Gross sales over the years</h4>
                    <p class="text-muted">Today, many people rely on computers to do homework, work, and create or store useful information. Therefore, it is important </p>
                    <div id="total-sales-chart-legend"><ul class="dashboard-chart-legend mb-0 mt-4"><li><span style="background-color: rgba(47,91,191,0.77) "></span>2019</li><li><span style="background-color: rgba(77,131,255,0.77) "></span>2018</li><li><span style="background-color: rgba(77,131,255,0.43) "></span>Past years</li></ul></div>*@
                <label class="form-group has-float-label" for="jobProjectFilter">
                    <select id="jobProjectFilter" class="form-control">
                        <option selected value="">ทุกโครงการ</option>
                    </select>
                    <span>โครงการ</span>
                </label>
                <canvas id="jobStatusChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <div class="card-body">
                <p class="card-title">EMM Status</p>
                <label class="form-group has-float-label" for="emmProjectFilter">
                    <select id="emmProjectFilter" class="form-control">
                        <option selected value="">ทุกโครงการ</option>
                    </select>
                    <span>โครงการ</span>
                </label>
                <canvas id="emmStatusChart"></canvas>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/app/view/home-view.js"></script>
    <script src="~/Scripts/app/base/chart.js/chart.min.js"></script>
}
