@{
    ViewBag.Title = "NWL AdAM - หลอดไฟ";
}

@section css {
    <link href="~/Content/app/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css">
}

<!-- Modern Style -->
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-start flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-5 mr-xl-5">
                    <h2>หลอดไฟ</h2>
                    <p class="mb-md-0">
                        <i class="mdi mdi-home text-muted hover-cursor"></i>
                        <a class="text-muted mb-0" href="~/Home">&nbsp;/&nbsp;&nbsp;ภาพรวม&nbsp;&nbsp;/</a>
                        <a class="text-primary mb-0" href="~/Lamp">&nbsp;หลอดไฟ</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div class="d-flex justify-content-between flex-fill">
                        <button id="buttonNewLamp" class="btn btn-success btn-sm modal-state-create invisible"
                            data-toggle="modal" data-target="#lampInfoModal"><i class="mdi mdi-plus"></i></button>

                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control" id="lampTextSearch" placeholder="Search"
                                    autocomplete="off" />
                                <div class="input-group-append">
                                    <button id="lampSearchSubmit" class="btn btn-sm btn-primary" type="button"><i
                                            class="mdi mdi-magnify"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <label class="form-group has-float-label" for="projectCode">
                    <select id="projectCode" class="form-control">
                    </select>
                    <span>โครงการ</span>
                </label>

                <label class="form-group has-float-label" for="controllerCode">
                    <select id="controllerCode" class="form-control">
                    </select>
                    <span>กลุ่ม</span>
                </label>

                @*<label class="form-group has-float-label" id="groupDeviceslebel" for="groupDevices">
                    <select id="groupDevices" class="form-control">
                    </select>
                    <span>กลุ่ม</span>
                </label>*@

                <div id="EMMProjectWarning" class="alert alert-danger d-none" role="alert">
                    เนื่องจากโครงการนี้ใช้กล่องควบคุมประเภท EMM จึงไม่สามารถเพิ่มหลอดไฟได้
                </div>

                <div id="no-more-tables" class="table-responsive grid-margin d-none">
                    <table id="dataTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-2">
                                    Mac Address
                                </th>
                                <th class="col-md-4">
                                    ชื่อหลอดไฟ
                                </th>
                                @*<th class="col-md-3 th-status">
                                    สถานะ
                                </th>*@
                                <th class="col-md-3 th-group">
                                    กลุ่ม
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div id="bottomTable" class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="form-check">
                        <label class="form-check-label ">
                            <input type="checkbox" class="form-check-input" id="isAutoRefresh" checked>
                            โหลดข้อมูลใหม่อัตโนมัติ
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <div id="bottomPagination">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="controlAllRelayStateModal" style="font-family: Kanit;" tabindex="-1" role="dialog"
    aria-labelledby="controlAllRelayStateModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="controlAllRelayStateModalLongTitle">ตั้งค่าหลอดไฟทั้งหมด</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <table id="alldevice" class="display table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Mac Address</th>
                            <th>ชื่อหลอดไฟ</th>
                            @*<th>สถานะ</th>*@
                            <th>ค่ากระแส</th>
                            <th>กลุ่ม</th>
                            <th>โหมดการทำงาน</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <hr>
                <div id="tb" class="row" style="padding: 2rem; position: relative;">
                    <!-- Checked switch -->
                    <div id="stb" class="form-check col-md-3 light-status-wrapper m-0 py-3">
                        <div id="bulbIcon" class="light-icon light-on">💡</div>
                        <label class="light-status-label">สถานะหลอดไฟ</label>
                        <input type="checkbox" data-toggle="toggle" data-style="ios" data-on="ON" data-off="OFF"
                            data-onstyle="success" data-offstyle="secondary" data-width="100"
                            id="controlAllRelayStatebtn">
                    </div>

                    <div class="col-md-6 d-flex flex-column justify-content-center">
                        <div class="form-group mn3 px-3">
                            <input type="range" min="0" max="100" value="0" class="brightness-slider-warm"
                                id="controlAllRangeWarm" onInput="$('#allRangeWarm').html($(this).val())">

                            <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                <li class="slider-mark text-center">
                                    <div>|</div>
                                    <div>0</div>
                                </li>
                                <li class="slider-mark text-center pl-1">
                                    <div>|</div>
                                    <div>20</div>
                                </li>
                                <li class="slider-mark text-center">
                                    <div>|</div>
                                    <div>40</div>
                                </li>
                                <li class="slider-mark text-center pr-1">
                                    <div>|</div>
                                    <div>60</div>
                                </li>
                                <li class="slider-mark text-center pr-1">
                                    <div>|</div>
                                    <div>80</div>
                                </li>
                                <li class="slider-mark text-center">
                                    <div>|</div>
                                    <div>100</div>
                                </li>
                            </ul>

                        </div>

                        <div class="form-group px-3 mn3">
                            <input type="range" min="0" max="100" value="0" class="brightness-slider-cool"
                                id="controlAllRangeCool" onInput="$('#allRangeCool').html($(this).val())">

                            <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                <li class="slider-mark text-center">
                                    <div>|</div>
                                    <div>0</div>
                                </li>
                                <li class="slider-mark text-center pl-1">
                                    <div>|</div>
                                    <div>20</div>
                                </li>
                                <li class="slider-mark text-center">
                                    <div>|</div>
                                    <div>40</div>
                                </li>
                                <li class="slider-mark text-center pr-1">
                                    <div>|</div>
                                    <div>60</div>
                                </li>
                                <li class="slider-mark text-center pr-1">
                                    <div>|</div>
                                    <div>80</div>
                                </li>
                                <li class="slider-mark text-center">
                                    <div>|</div>
                                    <div>100</div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 mn3">
                        <div class="light-info-box-warm text-center col-md-12 shadow-custom ">
                            <p class="label">ค่าแสงอุ่น</p>
                            <hr>
                            <p class="value" id="allRangeWarm">0</p>
                        </div>

                        <div class="light-info-box-cool col-md-12 text-center shadow-custom mt-4">
                            <p class="label">ค่าแสงเย็น</p>
                            <hr>
                            <p class="value" id="allRangeCool">0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-end flex-wrap">
                <button type="button" class="btn btn-outline-secondary btn-sm md-close" data-dismiss="modal">
                    <i class="mdi mdi-close"></i>
                </button>
                <button id="control-send-all" type="button" class="btn btn-success btn-sm">
                    <i class="mdi mdi-content-save"></i>
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="modal fade" id="lampInfoModal" tabindex="-1" role="dialog" aria-labelledby="lampInfoModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-sm-down" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lampInfoModalLongTitle">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="lampSerialNo">
                        <input type="text" class="form-control" id="lampSerialNo" autocomplete="off" />
                        <span>Mac Address</span>
                    </label>
                </div>
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="lampName">
                        <input type="text" class="form-control" id="lampName" autocomplete="off" />
                        <span>ชื่อหลอดไฟ</span>
                    </label>
                </div>
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="lampDescription">
                        <input type="text" class="form-control" id="lampDescription" autocomplete="off" />
                        <span>รายละเอียด</span>
                    </label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-group has-float-label" for="lampLat">
                            <input type="text" class="form-control" id="lampLat" autocomplete="off" />
                            <span>ละติจูด</span>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-group has-float-label" for="lampLong">
                            <input type="text" class="form-control" id="lampLong" autocomplete="off" />
                            <span>ลองจิจูด</span>
                        </label>
                    </div>
                </div>
                <!-- <div class="px-2 py-2">
                    <p>สถานะ</p>
                </div> -->
                <!-- <div class="d-flex ">
                    <div>
                        <label class="switch">
                            <input type="checkbox" id="toggle" onchange="toggleLight()">
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div id="light" class="light align-items-start"></div>
                </div> -->
                <!-- <div class="form-check col-md-12">
                    <label class="form-check-label ">
                        <input type="checkbox" class="form-check-input" id="isWarning" checked>
                        อนุญาตแจ้งเตือน
                        <i class="input-helper"></i>
                    </label>
                </div> -->

                <div class="form-check col-md-6">
                    <label class="form-group has-float-label" id="groupDevicesEditlebel" for="groupDevicesEdit">
                        <select id="groupDevicesEdit" class="form-control">
                        </select>
                        <span>กลุ่ม</span>
                    </label>
                </div>

                <div class="modal-footer d-flex justify-content-end flex-wrap">
                    <button type="button" class="btn btn-outline-secondary btn-sm md-close" data-dismiss="modal">
                        <i class="mdi mdi-close"></i>
                    </button>
                    <button id="modal-save-button" type="button" class="btn btn-success btn-sm">
                        <i class="mdi mdi-content-save"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" style="font-family: Kanit;" id="controlInfoModal" tabindex="-1" role="dialog"
    aria-labelledby="controlInfoModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-sm-down" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="controlInfoModalLongTitle">แผงควบคุม</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="controlEndpoint">
                <div class="row d-none">
                    <input type="text" class="form-control" id="controlMode" disabled />
                    <input type="text" class="form-control" id="controlProjectType" disabled />
                    <input type="text" class="form-control" id="controlControllerCode" disabled />
                </div>
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="controlLampSerialNo">
                        <input type="text" class="form-control" id="controlLampSerialNo" disabled />
                        <span>Mac Address</span>
                    </label>
                </div>
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="controlLampName">
                        <input type="text" class="form-control" id="controlLampName" disabled />
                        <span>ชื่อหลอดไฟ</span>
                    </label>
                </div>
                <div class="row">
                    <label class="form-group col-md-6 has-float-label" for="controlStaRelay">
                        <input type="text" class="form-control" id="controlStaRelay" disabled />
                        <span>สถานะ</span>
                    </label>
                    <label class="form-group col-md-6 has-float-label" for="controlStaMode">
                        <input type="text" class="form-control" id="controlStaMode" disabled />
                        <span>โหมดการทำงาน</span>
                    </label>
                </div>
                <div class="row">
                    <label class="form-group col-md-6 has-float-label" for="controlStaCurrent">
                        <input type="text" class="form-control" id="controlStaCurrent" disabled />
                        <span>ค่ากระแส</span>
                    </label>
                    <label class="form-group col-md-6 has-float-label" for="controlStaAmLight">
                        <input type="text" class="form-control" id="datetimeSta" disabled />
                        <span>ข้อมูลอัพเดทล่าสุดเมื่อ</span>
                    </label>
                </div>
                <!-- <div class="row">
                    <div class="form-group col-md-6">
                        <label for="controlStaPWM1_rangeWarm">ค่าแสงอุ่น <p id="controlStaPWM1_Text"></p></label>
                        <input type="range" class="form-control-range" id="controlStaPWM1_rangeWarm" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="controlStaPWM2_rangeCool">ค่าแสงเย็น <p id="controlStaPWM2_Text"></p></label>
                        <input type="range" class="form-control-range" id="controlStaPWM2_rangeCool" disabled>
                    </div>
                </div> -->
                <hr />
                <br />
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="controlActionList">
                        <select id="controlActionList" class="form-control">
                            <option value="0">เลือกโหมดการทำงาน</option>
                            <!-- <option value="MODE_CHANGE">เปลี่ยนโหมดการทำงาน</option> -->
                            <option value="MANUAL">กำหนดการทำงานด้วยตนเอง(Manual)</option>
                            <option value="SET_SCHEDULE">ตั้งเวลาทำงานอัตโนมัติ(Schedule)</option>
                        </select>
                        <span>คำสั่ง</span>
                    </label>
                </div>

                <div id="controlActionModeChange" class="d-none">
                    <div class="row">
                        <label class="form-group col-md-12 has-float-label" for="controlChangeModeList">
                            <select id="controlChangeModeList" class="form-control">
                                <option selected disabled value="">...</option>
                            </select>
                            <span>โหมดการทำงาน</span>
                        </label>
                    </div>
                </div>


                <!-- <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active disabled" id="manual-tab" style="border-radius: 7px 7px 0px 0px;" data-toggle="tab" href="#manual" role="tab" aria-controls="manual" aria-selected="true">กำหนดการทำงานด้วยตนเอง</a>
                <a class="nav-item nav-link disabled" id="auto-tab" style="border-radius: 7px 7px 0px 0px;" data-toggle="tab" href="#auto" role="tab" aria-controls="auto" aria-selected="false">ตั้งเวลาทำงานอัตโนมัติ</a>
                  </div>
                </nav> -->

                <div class="n-pills d-none">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="manual-tab" data-toggle="pill" data-target="#manual"
                                type="button" role="tab" aria-controls="manual"
                                aria-selected="true">กำหนดการทำงานด้วยตนเอง(Manual)</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="auto-tab" data-toggle="pill" data-target="#auto" type="button"
                                role="tab" aria-controls="auto"
                                aria-selected="false">ตั้งเวลาทำงานอัตโนมัติ(Schedule)</a>
                        </li>
                    </ul>
                    <hr>
                </div>

                <div class="tab-content p-0 d-none" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="manual" role="tabpanel" aria-labelledby="manual-tab">
                        <div class="row" style="padding: 1rem;">
                            <!-- Checked switch -->
                            <div class="form-check col-md-3 light-status-wrapper m-0 py-3">
                                <div id="bulbIconmanual" class="light-icon light-on">💡</div>
                                <label class="light-status-label">สถานะหลอดไฟ</label>
                                <input type="checkbox" data-toggle="toggle" data-style="ios" data-on="ON" data-off="OFF"
                                    data-onstyle="success" data-offstyle="secondary" data-width="100"
                                    id="controlRelayState">
                            </div>

                            <!--
                                            <div id="controlActionManual">
                                                <div class="row">
                                                    <label class="form-group col-md-12 has-float-label" for="controlRelayState">
                                                        <select id="controlRelayState" class="form-control">
                                                            <option selected disabled value="">...</option>
                                                            <option value="0">ปิดไฟ</option>
                                                            <option value="1">เปิดไฟ</option>
                                                        </select>
                                                        <span>สถานะหลอดไฟ</span>
                                                    </label>
                                                </div> -->


                            <div class="mn col-md-6" style="margin-top: 30px;">
                                <div>
                                    <!-- <div class="form-group col-md-12">
                                        <label for="controlRangeWarm" class="slider-label">ค่าแสงอุ่น</label> <span id="rangeWarm">50</span>
                                        <input type="range" class="form-control-range" id="controlRangeWarm" onInput="$('#rangeWarm').html($(this).val())" disabled>
                                    </div> -->

                                    <div class="form-group px-3">
                                        <!-- <label for="controlRangeWarm" class="slider-label">ค่าแสงอุ่น</label> <span id="rangeWarm">50</span> -->
                                        <input type="range" min="0" max="100" value="50" class="brightness-slider-warm"
                                            id="controlRangeWarm" onInput="$('#rangeWarm').html($(this).val())">

                                        <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                            <li class="slider-mark text-center">
                                                <div>|</div>
                                                <div>0</div>
                                            </li>
                                            <li class="slider-mark text-center pl-1">
                                                <div>|</div>
                                                <div>20</div>
                                            </li>
                                            <li class="slider-mark text-center">
                                                <div>|</div>
                                                <div>40</div>
                                            </li>
                                            <li class="slider-mark text-center pr-1">
                                                <div>|</div>
                                                <div>60</div>
                                            </li>
                                            <li class="slider-mark text-center pr-1">
                                                <div>|</div>
                                                <div>80</div>
                                            </li>
                                            <li class="slider-mark text-center">
                                                <div>|</div>
                                                <div>100</div>
                                            </li>
                                        </ul>

                                    </div>

                                    <div class="form-group col-md-12 px-3">
                                        <!-- <label for="controlRangeCool" class="slider-label">ค่าแสงอุ่น</label> <span id="rangeCool">50</span> -->
                                        <input type="range" min="0" max="100" value="50" class="brightness-slider-cool"
                                            id="controlRangeCool" onInput="$('#rangeCool').html($(this).val())">

                                        <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                            <li class="slider-mark text-center">
                                                <div>|</div>
                                                <div>0</div>
                                            </li>
                                            <li class="slider-mark text-center pl-1">
                                                <div>|</div>
                                                <div>20</div>
                                            </li>
                                            <li class="slider-mark text-center">
                                                <div>|</div>
                                                <div>40</div>
                                            </li>
                                            <li class="slider-mark text-center pr-1">
                                                <div>|</div>
                                                <div>60</div>
                                            </li>
                                            <li class="slider-mark text-center pr-1">
                                                <div>|</div>
                                                <div>80</div>
                                            </li>
                                            <li class="slider-mark text-center">
                                                <div>|</div>
                                                <div>100</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="mn col-md-3 flex flex-column"
                                style="gap: 15px; display: flex; flex-direction: column;">
                                <div class="light-info-box-warm text-center shadow-custom">
                                    <p class="label">ค่าแสงอุ่น</p>
                                    <hr>
                                    <p class="value" id="rangeWarm"></p> <!-- แสดงค่าจริง -->
                                </div>

                                <div class="light-info-box-cool text-center shadow-custom">
                                    <p class="label">ค่าแสงเย็น</p>
                                    <hr>
                                    <p class="value" id="rangeCool"></p> <!-- แสดงค่าจริง -->
                                </div>
                            </div>

                            <div class="row pb-5">
                                <!-- <div class="form-group col-md-12">
                                    <label for="controlRangeCool">ค่าแสงเย็น</label> <span id="rangeCool">50</span>
                                    <input type="range" min="0" max="100" value="50" class="brightness-slider" id="controlRangeCool" onInput="$('#rangeCool').html($(this).val())" disabled>
                                </div> -->
                            </div>
                        </div>
                        <!-- shadow -->
                    </div>
                </div>
                <div class="tab-pane fade" id="auto" role="tabpanel" aria-labelledby="auto-tab">
                    <div id="controlActionSchedule" class="">

                        <div class="form-check col-md-12 light-status-wrapper mb-3">
                            <div id="bulbIcon2" class="light-icon light-on">💡</div>
                            <label class="light-status-label">สถานะหลอดไฟ</label>
                            <input type="checkbox" data-toggle="toggle" data-style="ios" data-on="ON" data-off="OFF"
                                data-onstyle="success" data-offstyle="secondary" data-width="100"
                                id="controlRelayState2">
                        </div>

                        <div class="mn2">
                            <div class="row">
                                <label class="form-group col-md-12 has-float-label" for="schedule_1_no">
                                    <input type="text" class="form-control" id="schedule_1_no" value="1" disabled />
                                    <span>ลำดับ</span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="form-group col-md-6 has-float-label" for="schedule_1_start">
                                    <input type="text" class="form-control datetimepicker-input" id="schedule_1_start"
                                        data-toggle="datetimepicker" autocomplete="off"
                                        data-target="#schedule_1_start" />
                                    <span>ตั้งแต่เวลา</span>
                                </label>

                                <label class="form-group col-md-6 has-float-label" for="schedule_1_end">
                                    <input type="text" class="form-control datetimepicker-input" id="schedule_1_end"
                                        data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_1_end" />
                                    <span>ถึงเวลา</span>
                                </label>

                                <!-- <label class="form-group col-md-3 has-float-label" for="schedule_1_duration_h">
                                    <input type="text" class="form-control numberInputValidate" id="schedule_1_duration_h" autocomplete="off" maxlength="2" />
                                    <span>ระยะเวลา - ชั่วโมง</span>
                                </label>

                                <label class="form-group col-md-3 has-float-label" for="schedule_1_duration_m">
                                    <input type="text" class="form-control numberInputValidate" id="schedule_1_duration_m" autocomplete="off" maxlength="2" />
                                    <span>นาที</span>
                                </label> -->
                                @*<label class="form-group col-md-6 has-float-label" for="schedule_1_duration">
                                        <input type="text" class="form-control datetimepicker-input" id="schedule_1_duration" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_1_duration" />
                                        <span>ระยะเวลา (ชั่วโมง:นาที)</span>
                                    </label>*@
                            </div>
                            <!-- <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="schedule_1_controlRangeWarm">ค่าแสงอุ่น</label> <span id="schedule_1_rangeWarm">50</span>
                                    <input type="range" class="form-control-range" id="schedule_1_controlRangeWarm" onInput="$('#schedule_1_rangeWarm').html($(this).val())">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="schedule_1_controlRangeCool">ค่าแสงเย็น</label> <span id="schedule_1_rangeCool">50</span>
                                    <input type="range" class="form-control-range" id="schedule_1_controlRangeCool" onInput="$('#schedule_1_rangeCool').html($(this).val())">
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="range" class="brightness-slider-warm" id="schedule_1_controlRangeWarm"
                                        onInput="$('#schedule_1_rangeWarm').html($(this).val())">

                                    <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>0</div>
                                        </li>
                                        <li class="slider-mark text-center pl-1">
                                            <div>|</div>
                                            <div>20</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>40</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>60</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>80</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>100</div>
                                        </li>
                                    </ul>

                                    <div class="light-info-box-warm text-center col-md-5 light-info-box shadow-custom ">
                                        <p class="label">ค่าแสงอุ่นลำดับที่ 1</p>
                                        <hr>
                                        <p class="value" id="schedule_1_rangeWarm"></p> <!-- แสดงค่าจริง -->
                                    </div>
                                </div>

                                <div class="col-md-6" style="border-left: 1px solid #dddddd;">
                                    <input type="range" class="brightness-slider-cool" id="schedule_1_controlRangeCool"
                                        onInput="$('#schedule_1_rangeCool').html($(this).val())">

                                    <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>0</div>
                                        </li>
                                        <li class="slider-mark text-center pl-1">
                                            <div>|</div>
                                            <div>20</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>40</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>60</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>80</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>100</div>
                                        </li>
                                    </ul>
                                    <div class="light-info-box-cool text-center col-md-5 light-info-box shadow-custom">
                                        <p class="label">ค่าแสงเย็นลำดับที่ 1</p>
                                        <hr>
                                        <p class="value" id="schedule_1_rangeCool"></p> <!-- แสดงค่าจริง -->
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <br />
                            <div class="row">
                                <label class="form-group col-md-12 has-float-label" for="schedule_2_no">
                                    <input type="text" class="form-control" id="schedule_2_no" value="2" disabled />
                                    <span>ลำดับ</span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="form-group col-md-6 has-float-label" for="schedule_2_start">
                                    <input type="text" class="form-control datetimepicker-input" id="schedule_2_start"
                                        data-toggle="datetimepicker" autocomplete="off"
                                        data-target="#schedule_2_start" />
                                    <span>ตั้งแต่เวลา</span>
                                </label>

                                <label class="form-group col-md-6 has-float-label" for="schedule_2_end">
                                    <input type="text" class="form-control datetimepicker-input" id="schedule_2_end"
                                        data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_2_end" />
                                    <span>ถึงเวลา</span>
                                </label>

                                <!-- <label class="form-group col-md-3 has-float-label" for="schedule_2_duration_h">
                                    <input type="text" class="form-control numberInputValidate" id="schedule_2_duration_h" autocomplete="off" maxlength="2" />
                                    <span>ระยะเวลา - ชั่วโมง</span>
                                </label>

                                <label class="form-group col-md-3 has-float-label" for="schedule_2_duration_m">
                                    <input type="text" class="form-control numberInputValidate" id="schedule_2_duration_m" autocomplete="off" maxlength="2" />
                                    <span>นาที</span>
                                </label> -->
                                @*<label class="form-group col-md-6 has-float-label" for="schedule_2_duration">
                                        <input type="text" class="form-control datetimepicker-input" id="schedule_2_duration" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_2_duration" />
                                        <span>ระยะเวลา (ชั่วโมง:นาที)</span>
                                    </label>*@
                            </div>
                            <!-- <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="schedule_2_controlRangeWarm">ค่าแสงอุ่น</label> <span id="schedule_2_rangeWarm">50</span>
                                    <input type="range" class="form-control-range" id="schedule_2_controlRangeWarm" onInput="$('#schedule_2_rangeWarm').html($(this).val())">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="schedule_2_controlRangeCool">ค่าแสงเย็น</label> <span id="schedule_2_rangeCool">50</span>
                                    <input type="range" class="form-control-range" id="schedule_2_controlRangeCool" onInput="$('#schedule_2_rangeCool').html($(this).val())">
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="range" class="brightness-slider-warm" id="schedule_2_controlRangeWarm"
                                        onInput="$('#schedule_2_rangeWarm').html($(this).val())">

                                    <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>0</div>
                                        </li>
                                        <li class="slider-mark text-center pl-1">
                                            <div>|</div>
                                            <div>20</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>40</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>60</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>80</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>100</div>
                                        </li>
                                    </ul>

                                    <div class="light-info-box-warm text-center col-md-5 light-info-box shadow-custom ">
                                        <p class="label">ค่าแสงอุ่นลำดับที่ 2</p>
                                        <hr>
                                        <p class="value" id="schedule_2_rangeWarm"></p> <!-- แสดงค่าจริง -->
                                    </div>
                                </div>

                                <div class="col-md-6" style="border-left: 1px solid #dddddd;">
                                    <input type="range" class="brightness-slider-cool" id="schedule_2_controlRangeCool"
                                        onInput="$('#schedule_2_rangeCool').html($(this).val())">

                                    <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>0</div>
                                        </li>
                                        <li class="slider-mark text-center pl-1">
                                            <div>|</div>
                                            <div>20</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>40</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>60</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>80</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>100</div>
                                        </li>
                                    </ul>
                                    <div class="light-info-box-cool text-center col-md-5 light-info-box shadow-custom">
                                        <p class="label">ค่าแสงเย็นลำดับที่ 2</p>
                                        <hr>
                                        <p class="value" id="schedule_2_rangeCool"></p> <!-- แสดงค่าจริง -->
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <br />
                            <div class="row">
                                <label class="form-group col-md-12 has-float-label" for="schedule_3_no">
                                    <input type="text" class="form-control" id="schedule_3_no" value="3" disabled />
                                    <span>ลำดับ</span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="form-group col-md-6 has-float-label" for="schedule_3_start">
                                    <input type="text" class="form-control datetimepicker-input" id="schedule_3_start"
                                        data-toggle="datetimepicker" autocomplete="off"
                                        data-target="#schedule_3_start" />
                                    <span>ตั้งแต่เวลา</span>
                                </label>

                                <label class="form-group col-md-6 has-float-label" for="schedule_3_end">
                                    <input type="text" class="form-control datetimepicker-input" id="schedule_3_end"
                                        data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_3_end" />
                                    <span>ถึงเวลา</span>
                                </label>
                                <!-- <label class="form-group col-md-3 has-float-label" for="schedule_3_duration_h">
                                    <input type="text" class="form-control numberInputValidate" id="schedule_3_duration_h" autocomplete="off" maxlength="2" />
                                    <span>ระยะเวลา - ชั่วโมง</span>
                                </label>

                                <label class="form-group col-md-3 has-float-label" for="schedule_3_duration_m">
                                    <input type="text" class="form-control numberInputValidate" id="schedule_3_duration_m" autocomplete="off" maxlength="2" />
                                    <span>นาที</span>
                                </label> -->
                                @*<label class="form-group col-md-6 has-float-label" for="schedule_3_duration">
                                        <input type="text" class="form-control datetimepicker-input" id="schedule_3_duration" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_3_duration" />
                                        <span>ระยะเวลา (ชั่วโมง:นาที)</span>
                                    </label>*@
                            </div>
                            <!-- <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="schedule_3_controlRangeWarm">ค่าแสงอุ่น</label> <span id="schedule_3_rangeWarm">50</span>
                                    <input type="range" class="form-control-range" id="schedule_3_controlRangeWarm" onInput="$('#schedule_3_rangeWarm').html($(this).val())">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="schedule_3_controlRangeCool">ค่าแสงเย็น</label> <span id="schedule_3_rangeCool">50</span>
                                    <input type="range" class="form-control-range" id="schedule_3_controlRangeCool" onInput="$('#schedule_3_rangeCool').html($(this).val())">
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="range" class="brightness-slider-warm" id="schedule_3_controlRangeWarm"
                                        onInput="$('#schedule_3_rangeWarm').html($(this).val())">

                                    <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>0</div>
                                        </li>
                                        <li class="slider-mark text-center pl-1">
                                            <div>|</div>
                                            <div>20</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>40</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>60</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>80</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>100</div>
                                        </li>
                                    </ul>

                                    <div class="light-info-box-warm text-center col-md-5 light-info-box shadow-custom ">
                                        <p class="label">ค่าแสงอุ่นลำดับที่ 3</p>
                                        <hr>
                                        <p class="value" id="schedule_3_rangeWarm"></p> <!-- แสดงค่าจริง -->
                                    </div>
                                </div>

                                <div class="col-md-6" style="border-left: 1px solid #dddddd;">
                                    <input type="range" class="brightness-slider-cool" id="schedule_3_controlRangeCool"
                                        onInput="$('#schedule_3_rangeCool').html($(this).val())">

                                    <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>0</div>
                                        </li>
                                        <li class="slider-mark text-center pl-1">
                                            <div>|</div>
                                            <div>20</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>40</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>60</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>80</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>100</div>
                                        </li>
                                    </ul>
                                    <div class="light-info-box-cool text-center col-md-5 light-info-box shadow-custom">
                                        <p class="label">ค่าแสงเย็นลำดับที่ 3</p>
                                        <hr>
                                        <p class="value" id="schedule_3_rangeCool"></p> <!-- แสดงค่าจริง -->
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <br />
                            <div class="row">
                                <label class="form-group col-md-12 has-float-label" for="schedule_4_no">
                                    <input type="text" class="form-control" id="schedule_4_no" value="4" disabled />
                                    <span>ลำดับ</span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="form-group col-md-6 has-float-label" for="schedule_4_start">
                                    <input type="text" class="form-control datetimepicker-input" id="schedule_4_start"
                                        data-toggle="datetimepicker" autocomplete="off"
                                        data-target="#schedule_4_start" />
                                    <span>ตั้งแต่เวลา</span>
                                </label>

                                <label class="form-group col-md-6 has-float-label" for="schedule_4_end">
                                    <input type="text" class="form-control datetimepicker-input" id="schedule_4_end"
                                        data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_4_end" />
                                    <span>ถึงเวลา</span>
                                </label>
                                <!-- <label class="form-group col-md-3 has-float-label" for="schedule_4_duration_h">
                                    <input type="text" class="form-control numberInputValidate" id="schedule_4_duration_h" autocomplete="off" maxlength="2" />
                                    <span>ระยะเวลา - ชั่วโมง</span>
                                </label>

                                <label class="form-group col-md-3 has-float-label" for="schedule_4_duration_m">
                                    <input type="text" class="form-control numberInputValidate" id="schedule_4_duration_m" autocomplete="off" maxlength="2" />
                                    <span>นาที</span>
                                </label> -->
                                @*<label class="form-group col-md-6 has-float-label" for="schedule_4_duration">
                                        <input type="text" class="form-control datetimepicker-input" id="schedule_4_duration" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_4_duration" />
                                        <span>ระยะเวลา (ชั่วโมง:นาที)</span>
                                    </label>*@
                            </div>
                            <!-- <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="schedule_4_controlRangeWarm">ค่าแสงอุ่น</label> <span id="schedule_4_rangeWarm">50</span>
                                    <input type="range" class="form-control-range" id="schedule_4_controlRangeWarm" onInput="$('#schedule_4_rangeWarm').html($(this).val())">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="schedule_4_controlRangeCool">ค่าแสงเย็น</label> <span id="schedule_4_rangeCool">50</span>
                                    <input type="range" class="form-control-range" id="schedule_4_controlRangeCool" onInput="$('#schedule_4_rangeCool').html($(this).val())">
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="range" class="brightness-slider-warm" id="schedule_4_controlRangeWarm"
                                        onInput="$('#schedule_4_rangeWarm').html($(this).val())">

                                    <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>0</div>
                                        </li>
                                        <li class="slider-mark text-center pl-1">
                                            <div>|</div>
                                            <div>20</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>40</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>60</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>80</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>100</div>
                                        </li>
                                    </ul>

                                    <div class="light-info-box-warm text-center col-md-5 light-info-box shadow-custom ">
                                        <p class="label">ค่าแสงอุ่นลำดับที่ 4</p>
                                        <hr>
                                        <p class="value" id="schedule_4_rangeWarm"></p> <!-- แสดงค่าจริง -->
                                    </div>
                                </div>

                                <div class="col-md-6" style="border-left: 1px solid #dddddd;">
                                    <input type="range" class="brightness-slider-cool" id="schedule_4_controlRangeCool"
                                        onInput="$('#schedule_4_rangeCool').html($(this).val())">

                                    <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>0</div>
                                        </li>
                                        <li class="slider-mark text-center pl-1">
                                            <div>|</div>
                                            <div>20</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>40</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>60</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>80</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>100</div>
                                        </li>
                                    </ul>
                                    <div class="light-info-box-cool text-center col-md-5 light-info-box shadow-custom">
                                        <p class="label">ค่าแสงเย็นลำดับที่ 4</p>
                                        <hr>
                                        <p class="value" id="schedule_4_rangeCool"></p> <!-- แสดงค่าจริง -->
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <br />
                            <div class="row">
                                <label class="form-group col-md-12 has-float-label" for="schedule_5_no">
                                    <input type="text" class="form-control" id="schedule_5_no" value="5" disabled />
                                    <span>ลำดับ</span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="form-group col-md-6 has-float-label" for="schedule_5_start">
                                    <input type="text" class="form-control datetimepicker-input" id="schedule_5_start"
                                        data-toggle="datetimepicker" autocomplete="off"
                                        data-target="#schedule_5_start" />
                                    <span>ตั้งแต่เวลา</span>
                                </label>

                                <label class="form-group col-md-6 has-float-label" for="schedule_5_end">
                                    <input type="text" class="form-control datetimepicker-input" id="schedule_5_end"
                                        data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_5_end" />
                                    <span>ถึงเวลา</span>
                                </label>

                                <!-- <label class="form-group col-md-3 has-float-label" for="schedule_5_duration_h">
                                    <input type="text" class="form-control numberInputValidate" id="schedule_5_duration_h" autocomplete="off" maxlength="2" />
                                    <span>ระยะเวลา - ชั่วโมง</span>
                                </label>

                                <label class="form-group col-md-3 has-float-label" for="schedule_5_duration_m">
                                    <input type="text" class="form-control numberInputValidate" id="schedule_5_duration_m" autocomplete="off" maxlength="2" />
                                    <span>นาที</span>
                                </label> -->
                                @*<label class="form-group col-md-6 has-float-label" for="schedule_5_duration">
                                        <input type="text" class="form-control datetimepicker-input" id="schedule_5_duration" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_5_duration" />
                                        <span>ระยะเวลา (ชั่วโมง:นาที)</span>
                                    </label>*@
                            </div>
                            <!-- <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="schedule_5_controlRangeWarm">ค่าแสงอุ่น</label> <span id="schedule_5_rangeWarm">50</span>
                                    <input type="range" class="form-control-range" id="schedule_5_controlRangeWarm" onInput="$('#schedule_5_rangeWarm').html($(this).val())">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="schedule_5_controlRangeCool">ค่าแสงเย็น</label> <span id="schedule_5_rangeCool">50</span>
                                    <input type="range" class="form-control-range" id="schedule_5_controlRangeCool" onInput="$('#schedule_5_rangeCool').html($(this).val())">
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="range" class="brightness-slider-warm" id="schedule_5_controlRangeWarm"
                                        onInput="$('#schedule_5_rangeWarm').html($(this).val())">

                                    <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>0</div>
                                        </li>
                                        <li class="slider-mark text-center pl-1">
                                            <div>|</div>
                                            <div>20</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>40</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>60</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>80</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>100</div>
                                        </li>
                                    </ul>

                                    <div class="light-info-box-warm text-center col-md-5 light-info-box shadow-custom ">
                                        <p class="label">ค่าแสงอุ่นลำดับที่ 5</p>
                                        <hr>
                                        <p class="value" id="schedule_5_rangeWarm"></p> <!-- แสดงค่าจริง -->
                                    </div>
                                </div>

                                <div class="col-md-6" style="border-left: 1px solid #dddddd;">
                                    <input type="range" class="brightness-slider-cool" id="schedule_5_controlRangeCool"
                                        onInput="$('#schedule_5_rangeCool').html($(this).val())">

                                    <ul class="slider-marks list-unstyled d-flex justify-content-between px-1 mt-2">
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>0</div>
                                        </li>
                                        <li class="slider-mark text-center pl-1">
                                            <div>|</div>
                                            <div>20</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>40</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>60</div>
                                        </li>
                                        <li class="slider-mark text-center pr-1">
                                            <div>|</div>
                                            <div>80</div>
                                        </li>
                                        <li class="slider-mark text-center">
                                            <div>|</div>
                                            <div>100</div>
                                        </li>
                                    </ul>
                                    <div class="light-info-box-cool text-center col-md-5 light-info-box shadow-custom">
                                        <p class="label">ค่าแสงเย็นลำดับที่ 5</p>
                                        <hr>
                                        <p class="value" id="schedule_5_rangeCool"></p> <!-- แสดงค่าจริง -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!-- <div id="controlActionSchedule" class="d-none">
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="schedule_1_no">
                        <input type="text" class="form-control" id="schedule_1_no" value="1" disabled />
                        <span>ลำดับ</span>
                    </label>
                </div>
                <div class="row">
                    <label class="form-group col-md-6 has-float-label" for="schedule_1_start">
                        <input type="text" class="form-control datetimepicker-input" id="schedule_1_start" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_1_start" />
                        <span>ตั้งแต่เวลา</span>
                    </label>

                    <label class="form-group col-md-3 has-float-label" for="schedule_1_duration_h">
                        <input type="text" class="form-control numberInputValidate" id="schedule_1_duration_h" autocomplete="off" maxlength="2" />
                        <span>ระยะเวลา - ชั่วโมง</span>
                    </label>

                    <label class="form-group col-md-3 has-float-label" for="schedule_1_duration_m">
                        <input type="text" class="form-control numberInputValidate" id="schedule_1_duration_m" autocomplete="off" maxlength="2" />
                        <span>นาที</span>
                    </label>

                    @*<label class="form-group col-md-6 has-float-label" for="schedule_1_duration">
                <input type="text" class="form-control datetimepicker-input" id="schedule_1_duration" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_1_duration" />
                <span>ระยะเวลา (ชั่วโมง:นาที)</span>
            </label>*@
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="schedule_1_controlRangeWarm">ค่าแสงอุ่น</label> <span id="schedule_1_rangeWarm">50</span>
                        <input type="range" class="form-control-range" id="schedule_1_controlRangeWarm" onInput="$('#schedule_1_rangeWarm').html($(this).val())">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="schedule_1_controlRangeCool">ค่าแสงเย็น</label> <span id="schedule_1_rangeCool">50</span>
                        <input type="range" class="form-control-range" id="schedule_1_controlRangeCool" onInput="$('#schedule_1_rangeCool').html($(this).val())">
                    </div>
                </div>

                <hr />
                <br />
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="schedule_2_no">
                        <input type="text" class="form-control" id="schedule_2_no" value="2" disabled />
                        <span>ลำดับ</span>
                    </label>
                </div>
                <div class="row">
                    <label class="form-group col-md-6 has-float-label" for="schedule_2_start">
                        <input type="text" class="form-control datetimepicker-input" id="schedule_2_start" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_2_start" />
                        <span>ตั้งแต่เวลา</span>
                    </label>

                    <label class="form-group col-md-3 has-float-label" for="schedule_2_duration_h">
                        <input type="text" class="form-control numberInputValidate" id="schedule_2_duration_h" autocomplete="off" maxlength="2" />
                        <span>ระยะเวลา - ชั่วโมง</span>
                    </label>

                    <label class="form-group col-md-3 has-float-label" for="schedule_2_duration_m">
                        <input type="text" class="form-control numberInputValidate" id="schedule_2_duration_m" autocomplete="off" maxlength="2" />
                        <span>นาที</span>
                    </label>

                    @*<label class="form-group col-md-6 has-float-label" for="schedule_2_duration">
                <input type="text" class="form-control datetimepicker-input" id="schedule_2_duration" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_2_duration" />
                <span>ระยะเวลา (ชั่วโมง:นาที)</span>
            </label>*@
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="schedule_2_controlRangeWarm">ค่าแสงอุ่น</label> <span id="schedule_2_rangeWarm">50</span>
                        <input type="range" class="form-control-range" id="schedule_2_controlRangeWarm" onInput="$('#schedule_2_rangeWarm').html($(this).val())">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="schedule_2_controlRangeCool">ค่าแสงเย็น</label> <span id="schedule_2_rangeCool">50</span>
                        <input type="range" class="form-control-range" id="schedule_2_controlRangeCool" onInput="$('#schedule_2_rangeCool').html($(this).val())">
                    </div>
                </div>

                <hr />
                <br />
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="schedule_3_no">
                        <input type="text" class="form-control" id="schedule_3_no" value="3" disabled />
                        <span>ลำดับ</span>
                    </label>
                </div>
                <div class="row">
                    <label class="form-group col-md-6 has-float-label" for="schedule_3_start">
                        <input type="text" class="form-control datetimepicker-input" id="schedule_3_start" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_3_start" />
                        <span>ตั้งแต่เวลา</span>
                    </label>

                    <label class="form-group col-md-3 has-float-label" for="schedule_3_duration_h">
                        <input type="text" class="form-control numberInputValidate" id="schedule_3_duration_h" autocomplete="off" maxlength="2" />
                        <span>ระยะเวลา - ชั่วโมง</span>
                    </label>

                    <label class="form-group col-md-3 has-float-label" for="schedule_3_duration_m">
                        <input type="text" class="form-control numberInputValidate" id="schedule_3_duration_m" autocomplete="off" maxlength="2" />
                        <span>นาที</span>
                    </label>

                    @*<label class="form-group col-md-6 has-float-label" for="schedule_3_duration">
                <input type="text" class="form-control datetimepicker-input" id="schedule_3_duration" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_3_duration" />
                <span>ระยะเวลา (ชั่วโมง:นาที)</span>
            </label>*@
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="schedule_3_controlRangeWarm">ค่าแสงอุ่น</label> <span id="schedule_3_rangeWarm">50</span>
                        <input type="range" class="form-control-range" id="schedule_3_controlRangeWarm" onInput="$('#schedule_3_rangeWarm').html($(this).val())">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="schedule_3_controlRangeCool">ค่าแสงเย็น</label> <span id="schedule_3_rangeCool">50</span>
                        <input type="range" class="form-control-range" id="schedule_3_controlRangeCool" onInput="$('#schedule_3_rangeCool').html($(this).val())">
                    </div>
                </div>

                <hr />
                <br />
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="schedule_4_no">
                        <input type="text" class="form-control" id="schedule_4_no" value="4" disabled />
                        <span>ลำดับ</span>
                    </label>
                </div>
                <div class="row">
                    <label class="form-group col-md-6 has-float-label" for="schedule_4_start">
                        <input type="text" class="form-control datetimepicker-input" id="schedule_4_start" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_4_start" />
                        <span>ตั้งแต่เวลา</span>
                    </label>

                    <label class="form-group col-md-3 has-float-label" for="schedule_4_duration_h">
                        <input type="text" class="form-control numberInputValidate" id="schedule_4_duration_h" autocomplete="off" maxlength="2" />
                        <span>ระยะเวลา - ชั่วโมง</span>
                    </label>

                    <label class="form-group col-md-3 has-float-label" for="schedule_4_duration_m">
                        <input type="text" class="form-control numberInputValidate" id="schedule_4_duration_m" autocomplete="off" maxlength="2" />
                        <span>นาที</span>
                    </label>

                    @*<label class="form-group col-md-6 has-float-label" for="schedule_4_duration">
                <input type="text" class="form-control datetimepicker-input" id="schedule_4_duration" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_4_duration" />
                <span>ระยะเวลา (ชั่วโมง:นาที)</span>
            </label>*@
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="schedule_4_controlRangeWarm">ค่าแสงอุ่น</label> <span id="schedule_4_rangeWarm">50</span>
                        <input type="range" class="form-control-range" id="schedule_4_controlRangeWarm" onInput="$('#schedule_4_rangeWarm').html($(this).val())">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="schedule_4_controlRangeCool">ค่าแสงเย็น</label> <span id="schedule_4_rangeCool">50</span>
                        <input type="range" class="form-control-range" id="schedule_4_controlRangeCool" onInput="$('#schedule_4_rangeCool').html($(this).val())">
                    </div>
                </div>

                <hr />
                <br />
                <div class="row">
                    <label class="form-group col-md-12 has-float-label" for="schedule_5_no">
                        <input type="text" class="form-control" id="schedule_5_no" value="5" disabled />
                        <span>ลำดับ</span>
                    </label>
                </div>
                <div class="row">
                    <label class="form-group col-md-6 has-float-label" for="schedule_5_start">
                        <input type="text" class="form-control datetimepicker-input" id="schedule_5_start" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_5_start" />
                        <span>ตั้งแต่เวลา</span>
                    </label>

                    <label class="form-group col-md-3 has-float-label" for="schedule_5_duration_h">
                        <input type="text" class="form-control numberInputValidate" id="schedule_5_duration_h" autocomplete="off" maxlength="2" />
                        <span>ระยะเวลา - ชั่วโมง</span>
                    </label>

                    <label class="form-group col-md-3 has-float-label" for="schedule_5_duration_m">
                        <input type="text" class="form-control numberInputValidate" id="schedule_5_duration_m" autocomplete="off" maxlength="2" />
                        <span>นาที</span>
                    </label>

                    @*<label class="form-group col-md-6 has-float-label" for="schedule_5_duration">
                <input type="text" class="form-control datetimepicker-input" id="schedule_5_duration" data-toggle="datetimepicker" autocomplete="off" data-target="#schedule_5_duration" />
                <span>ระยะเวลา (ชั่วโมง:นาที)</span>
            </label>*@
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="schedule_5_controlRangeWarm">ค่าแสงอุ่น</label> <span id="schedule_5_rangeWarm">50</span>
                        <input type="range" class="form-control-range" id="schedule_5_controlRangeWarm" onInput="$('#schedule_5_rangeWarm').html($(this).val())">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="schedule_5_controlRangeCool">ค่าแสงเย็น</label> <span id="schedule_5_rangeCool">50</span>
                        <input type="range" class="form-control-range" id="schedule_5_controlRangeCool" onInput="$('#schedule_5_rangeCool').html($(this).val())">
                    </div>
                </div>
            </div> -->

            <div class="modal-footer d-flex justify-content-end flex-wrap">
                <div class="flex-fill">
                    <p id="controlUpdatedAt" class="text-secondary d-none"></p>
                </div>
                <button type="button" class="btn btn-outline-secondary btn-sm md-close" data-dismiss="modal">
                    <i class="mdi mdi-close"></i>
                </button>
                <button id="control-send-manual" type="button" class="btn btn-success btn-sm d-none">
                    <i class="mdi mdi-content-save"></i>
                </button>
                <button id="control-send-auto" type="button" class="btn btn-success btn-sm d-none">
                    <i class="mdi mdi-content-save"></i>
                </button>
            </div>
        </div>
    </div>
</div>
</div>

@section scripts {
    <script src="~/Scripts/app/view/option-view.js"></script>
    <script src="~/Scripts/app/base/moment-with-locales.min.js"></script>
    <script src="~/Scripts/app/base/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>
}
